html {
	font: {
		size:100%;
	}
}

body {
	font: {
		size:12px;
		family:$sansSerif;
	}
}

p {
	font: {
		size:13px;
	}
	line-height:21px;
}

a {
	&:link, &:visited {@include noDecoration; color:$red;}
	&:focus, &:hover {text-decoration:underline;}
}

h1, h2, h3, h4, h5, h6 {	
	@include title;
}

h1, h2, h3 {
	@include textShadowPos(0, 1px, 0, $lightGray);
}

h4, h5, h6 {
	
}

h1 {
	font: {
		size:21px;
	}
}

h2 {
	font: {
		size:18px;
	}
}

.primary-text, .secondary-text {
	@include text-centered;
}

.primary-text {
	@extend h1;
	font: {
		size:36px;
	}
	color:$darkGray;
}

.secondary-text {
	@extend h2;
	font: {
		size:24px;
	}
	color:$mediumGray;
}