@mixin layout {
	position:relative;
}

@mixin colStyle {
	@include layout;
	display:inline;
	float:left;
	margin: {
		left:$margin;
		right:$margin;
	}
}

// PARTIALS
/* Grid >> Columns
----------------------------------------------------------------------------------------------------*/
@import "partials/cols";

/* Push, Pull
----------------------------------------------------------------------------------------------------*/
@import "partials/pushpull";

/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
@import "partials/prefix";

/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
@import "partials/suffix";