// Insert here grid values.
// To build a custom grid try to take a look on http://grids.heroku.com/

// Column width
$colWidth: 60px;
// Number of columns
$numCols: 12;
// Gutter width
$margin: 20px;
// Full width
$fullWidth: ($colWidth+$margin) * $numCols;
// Container width
$containerWidth: $fullWidth - $margin;
