@import "modules/variables";

body {
	min-width:$fullWidth;
}

.container_#{$numCols} {
	width:$fullWidth;
	margin: {
		left:auto;
		right:auto;
	}
}

@import "modules/grid";

@import "partials/clear";

@import "partials/alphaomega";

.container-full {
	width:$fullWidth;
}
