// GRID

@mixin positioning {
	position:relative;
}

// Style common to all columns of the grid
@mixin colStyle {
	@include positioning;
	display:inline;
	float:left;
}

// Style specific for fixed layout (margins in pixel)
@mixin colFixed {
	margin: {
		left:$margin;
		right:$margin;
	}
}

// Style specific for fixed layout (margins in %)
@mixin colLiquid {
	margin: {
		left:1%;
		right:1%;
	}
}


// UTILS
@mixin breakLine($width,$file) {
	height:3px;
	width:$width;
	background: {
		image:url($file);
		repeat:repeat-x;
	}
}
